<header>
	<nav>
		<div class="logo">
			<img src="assets/img/asda_logo.png" alt="UNC ASDA Logo">
		</div>
		<div class="nav-links" id="site-nav">
			<a href="index.html">Home</a>
			<!-- <a href="about.html">About</a> -->
			<a href="exec.html">Meet the E-Board</a>
			<a href="events.html">Events</a>
			<a href="resources.html">Member Resources</a>
			<a href="predental.html">Predental</a>
			<a href="contact.html">Contact</a>
		</div>
			<button class="hamburger" aria-label="Open menu" aria-controls="site-nav" aria-expanded="false">
				<span></span><span></span><span></span>
			</button>
	</nav>
</header>
