<header>
	<nav>
		<div class="logo">
			<img src="assets/img/asda_logo.png" alt="UNC ASDA Logo">
		</div>
		<div class="nav-links">
			<a href="index.html">Home</a>
			<a href="about.html">About</a>
			<a href="committees.html">Meet the E-Board</a>
			<a href="events.html">Events</a>
			<a href="resources.html">Members</a>
			<a href="predental.html">Predental</a>
			<a href="contact.html">Contact</a>
		</div>
<!-- 		<div class="hamburger">
			<span></span>
			<span></span>
			<span></span>
		</div>
 -->	</nav>
</header>
